<%= render "shared/flash_alert" %>
<div id="alert-client" class="states alert alert-danger"  role="alert">
	<div class="error-text"></div>
	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>