<div class="col-xs-12 col-sm-12 col-md-4">
	<div class="ad">
		<div class="thumb-image-wrapper">
			<%= link_to image_tag(ad.picture.image.normal.url), ad_path(ad) %>
		</div>
		<div class="meta">
			<div class="desc">
				<h3><%= ad.title %></h3>
				<p><%= ad.description %></p>
			</div>
		</div>	
	</div>
</div>