<div class="row">
	<div class="ad-main-wrapper">
			<div class="ad-main">
				<div class="title">
					<h2>
						<%= @ad.title %>
					</h2>
				</div>
				<div class="normal-image-wrapper">
					<%= image_tag @ad.picture.image.normal.url %>
				</div>
				<div class="desc">
					<%= @ad.description %>
				</div>	
			</div>	
	</div>
</div>